body{
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	padding: 10px;
	background: linear-gradient(15deg, black, red);
}
.container{
	height: 700px;
	max-width: 700px;
	width: 100%;
	padding: 25px 30px;
	border: 1px solid black;
	border-radius: 5px;
	border-bottom-width: 5px;
	background: #fff;
}
.container .title{
	color: #B90E0A;
	font-size: 25px;
	font-weight: 500;
	position: relative;
	left: 140px;
}
.container .pageInfo{
	color: black;
	font-size: 22.5px;
	font-weight: 500;
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
	left: 250px;
}
.container .title img{
	width: 50px;
	height: 50px;
	float: left;

}
.container form .user-details{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	color: black;

	
}
form .user-details .input-box{
	margin-bottom: 15px;
	margin: 20px 0 12px 0;
	width: calc(100% / 2 - 20px);

}
form .user-details .gender{
	margin-bottom: 15px;
	margin: 20px 0 12px 0;
	width: calc(100% / 2 - 20px);
	font-size: 18px;
}
.user-details .gender .details{
	display: block;
	font-weight: 500;
	font-size: 18px;
}
.user-details .input-box .details{
	display: block;
	font-weight: 500;
	margin-bottom: 5px;
}
.user-details .input-box input{
	height: 45px;
	width: 100%;
	outline: none;
	border-radius: 5px;
	border: 1px solid #1e1d40;
	padding-left: 15px;
	font-size: 16px;
	border-bottom-width: 5px;
	transition:  all 0.3s ease;
	font-style: italic;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
	border-color: #1e1d40;

}
.container .custom-selector{
	position: relative;
	display: inline-block;
	font-size: 14px;
}
.container .custom-selector select{
	width: 200px;
	min-height: 35px;
}
form .button{
	height: 45px;
	margin: 45px 0;
}
form .button input{
	height: 100%;
	width: 100%;
	outline: none;
	color: #fff;
	border: none;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 1px;
	border-radius: 5px;
	background: #B90E0A;

}
form .button input:hover{
	background: black;
}
@media (max-width: 584px) {
	.container{
		max-width: 100%;
	}
	form .user-details .input-box{
	margin-bottom: 15px;
	margin: 20px 0 12px 0;
	width: 100%;

	}
	.container form .user-details{
		max-height: 300px;
		overflow-y: scroll;
	}
	.user-details::-webkit-scrollbar{
		width: 0;
	}

}
a{
	text-decoration: none;
	display: inline-block;
	padding: 8px 16px;
}
a:hover{
	background-color: #ddd;
	color: black;
}
.previous{
	background-color: #f1f1f1;
}
.next{
	background-color: #04AA6D;
	color: white;
}
.register{
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #04AA6D;
	color: white;
}
.container2{
	height: 700px;
	max-width: 700px;
	width: 100%;
	padding: 25px 30px;
	border: 1px solid black;
	border-radius: 5px;
	border-bottom-width: 5px;
	background: #fff;
}
.container2 .title img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 65%;
	border: 2px solid black;
	border-radius: 50%;
	
}
.container2 .title{
	color: #B90E0A;
	font-size: 45px;
	font-weight: 500;
	position: block;
	text-align: center;
}